body{
    background-image: linear-gradient(90deg,lightseagreen 0%, #0077B6 35%, rgba(9,9,121,1) 100%);
    height:100%;
    overflow: hidden;
    font-family: monospace;
    COLOR: white;
}

.container{
    position: fixed;
    width:80%;
    height:100%;
    margin-top:30%;
    margin-left:50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(90deg,lightseagreen 0%, #0077B6 35%, rgba(9,9,121,1) 100%);;
    overflow: auto;
}
.header{
    position: fixed;
    top:0%;
    width:80%;
    z-index: 5;
    padding:1%;
    font-weight: bold;
    margin-left: 5%;
}
.header .logo{
    width:5%;
    height:4%;
    display: inline-block;
    margin-left: 5%;
    margin-top : 0%
}
.header ul{
    padding: 0%;
    font-size: 100%;
    margin: 0%;
    list-style: BORDER;
    display: inline-block;
    transform: translate(0,-14px);
}
.header li{
    display: inline-block;
    font-size: 100%;
    margin-left: 20px;
}
.directional{
    position: fixed;
    bottom:1%;
    width:100%;
    text-align: center;
    z-index: 3;
}
.directional button{
    width:600px;
    height:600px;
    color:NONE;
    background-color: transparent;
    border:none;
    opacity: 0.2;
}
.directional button:hover{
    opacity: 1;
}
#slide{
    position: relative;
    width:100%;
    height:100%;
}
#slide .item{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
}
#slide .item .image{
    position: absolute;
    top:70%;
    left: 10%;
    width:90%;
    height:20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    opacity: 0;
    transform: scale(3);
    transition: 1.5s;
}
#slide .item .image img{
    width:65%;
    transition: 0.5s;
}
#slide .item .image::before{
    position: absolute;
     top:70%;
    left: 10%;
    width:90%;
    height:20%;
    background-color: #000;
    content:'111';
    z-index: -1;
    border-radius: 50%;
    filter:blur(30px)
}
#slide .item .image img:hover{
    transform: scale(1.4);
}
.content .left{
    position: absolute;
    left:5%;
    top:15%;
    width:65%;
    height:20%;
      font-weight: 300%;
    display: none;
    word-wrap: break-word;
}
.content .left h1{
    top:15%;
    width:25%;
    height:20%;
    font-size: 300%;
    font-weight: 200%;
    margin-bottom:10%;
    word-wrap: break-word;
    inline-size: 30%;
    overflow-wrap: break-word;
}
.content .left .des{
   top:15%;
    width:25%;
    height:20%;
    font-size: 150%;
    font-weight: 150%;
    margin-bottom:10%;
    opacity: 0.8;
    margin-bottom:10%;
    display: block;
    word-wrap: break-word;
     inline-size: 30%;
    overflow-wrap: break-word;

}
.content .left button{
    font-size: small;
    background-color: transparent;
    border:none;
    color:#fff;
}
.content .left button i:nth-child(1){
    margin-left: 10%;
}
.content .right{
    position: absolute;
    right:4%;
    top:15%;
    display: block;
}
.content .right h2{
    font-size: large;
    font-weight: 150%;
    margin-bottom:10%;
}
.content .right ul{
    padding: 0;
    margin:0;
    list-style: none;
}
.content .right li{
    font-size: small;
    position: relative;
    margin-top: 20%;
}
.content .right li::before{
    position: absolute;
    left:-20%;
    top:50%;
    transform: translate(0,-50%);
    width:8%;
    height: 8%;
    background-color: #023E8A;
    content:'';
    border-radius: 50%;
    box-shadow:  0% 0% 10% #0077B6;
}
.tradingview-widget-container{
     position: absolute;
    left:120px;
    top:60px;
    transform: translate(0,-50%);
    width:10px;
    height: 10px;
    background-color: #023E8A;
    content:'';
    border-radius: 50%;
    box-shadow:  0 0 10px #0077B6;
}
.bi-container{
     position: absolute;
    left:80px;
    top:500px;
    transform: translate(0,-50%);
    width:800px;
    height: 800px;
    background-color: #023E8A;
    content:'';
    border-radius: 50%;
    box-shadow:  0 0 10px #0077B6;
}
.content .right li p:nth-child(1){
    font-weight: 500;
    padding:0;
    margin:0;
}
.content .right li p:nth-child(2){
    font-weight: 100;
    padding:0;
    margin:0;
    font-size: x-small;
}
#slide .item:nth-child(1) .image{
    opacity: 0;
    transform: scale(0) translate(-100px);
}
#slide .item:nth-child(2) .image{
    opacity: 1;
    transform: scale(1);
}
#slide .item:nth-child(2){
    z-index: 3;
}
@keyframes contentOut {
    from{
        opacity: 1;
    transform: translate(0,0);
    }to{
        opacity: 0;
        transform: translate(0,-100%);
        filter:blur(113px)
    }
}
@keyframes contentIn {
    from{
        opacity: 0;
    transform: translate(0,100%);
    filter:blur(33px)
    }to{
        opacity: 1;
        transform: translate(0,0);
    }
}
#slide .item:nth-child(1) .left,
#slide .item:nth-child(1) .right,
#slide .item:nth-child(2) .left,
#slide .item:nth-child(2) .right{
    display: block;
}
#slide .item:nth-child(1) .left,
#slide .item:nth-child(1) .right{
    animation:contentOut 1s ease-in-out 1 forwards
}
#slide .item:nth-child(2) .left,
#slide .item:nth-child(2) .right{
    animation:contentIn 1s ease-in-out 1 forwards
}
/* Nút Dropdown1*/
 .nut_dropdown1 {
   background-color:#0077B6;
   color: linear-gradient(90deg,lightseagreen 0%, #0077B6 35%, rgba(9,9,121,1) 100%);
   padding: 5px;
   font-size: 16px;
   border: none;
 }
/* Thiết lập vị trí cho thẻ div với class dropdown*/
 .dropdown1 {
   position: relative;
   display: inline-block;
 }
/* Nội dung Dropdown */
 .noidung_dropdown1 {
   /*Ẩn nội dung các đường dẫn*/
   display: none;
   position: absolute;
   background-color: linear-gradient(90deg,lightseagreen 0%, #0077B6 35%, rgba(9,9,121,1) 100%);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
/* Thiết kế style cho các đường dẫn trong Dropdown */
 .noidung_dropdown1 a {
   color: #ffffff;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 /* thay đổi màu background khi hover vào đường dẫn */
 .noidung_dropdown1 a:hover {background-color: #0077B6;}
/* hiển thị nội dung dropdown khi hover */
 .dropdown1:hover .noidung_dropdown1 {display: block;}
/* Thay đổi màu background cho nút khi được hover */
 .dropdown1:hover .nut_dropdown1 {background-color: #0077B6;}
/* Nút Dropdown2*/
 .nut_dropdown2 {
   background-color:#0077B6;
   color: #b72231;
   padding: 5px;
   font-size: 16px;
   border: none;
 }
/* Thiết lập vị trí cho thẻ div với class dropdown*/
 .dropdown2 {
   position: relative;
   display: inline-block;
 }
/* Nội dung Dropdown */
 .noidung_dropdown2 {
   /*Ẩn nội dung các đường dẫn*/
   display: none;
   position: absolute;
   background-color:  linear-gradient(90deg,lightseagreen 0%, #0077B6 35%, rgba(9,9,121,1) 100%);
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
/* Thiết kế style cho các đường dẫn trong Dropdown */
 .noidung_dropdown2 a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 /* thay đổi màu background khi hover vào đường dẫn */
 .noidung_dropdown2 a:hover {background-color: #0077B6;}
/* hiển thị nội dung dropdown khi hover */
 .dropdown2:hover .noidung_dropdown2 {display: block;}
/* Thay đổi màu background cho nút khi được hover */
 .dropdown2:hover .nut_dropdown2 {background-color: #0077B6;}
/* login button*/
.login_but {
position: absolute;
    top: 10%;
    left: 110%;
  height: 20px;
  width: 80px;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      background:  radial-gradient(#023E8A, #0077B6);
  color: none;
  padding: 5px 10px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
    color : red;
}
.login_but\.content {
     top: 5px;
    right: -180px;
  height: 40px;
  width: 100px;
    color: white;
display: flex;
    text-align: center;
    align-content: center;
    text-decoration: none;

}

.login_but a:hover{
     top: 5px;
   font-weight: bold;
    right: -180px;
  height: 80px;
  width: 300px;
display: flex;
    text-align: center;
    align-content: center;
    text-decoration: none;
    color:orange;
}
.chart-thanhkhoan {
    position: fixed;
    width: 1000px;
    height: 15px;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 5px;
    z-index: 1;
}
.chart-noidung {
    left: 1000px;
}
/*.left-banner {
    position: fixed;
    top:20%;
    margin-left: 0%;
    width:7%;
    z-index: 8;
    height: 50%;
    padding:1%;
    font-weight: bold;
  background: radial-gradient(red, green);

}*/
.righ-banner {
    position: fixed;
    top:40%;
    margin-left: 90%;
    width:7%;
    z-index: 8;
    height: 50%;
    padding:1%;
    font-weight: bold;
  background: radial-gradient(red, green);

}
.box1 {
    position: fixed;
     margin-top: 3%;
    margin-left: 5%;
  height: 100%;
  width: 5%;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#023E8A,#0077B6);
    overflow: left;
     background-color: transparent;
    opacity: 0.0 - 1.0;

}
.box2 {
    position: fixed;
       margin-top: 3%;
    margin-left: 10%;
        margin-right: 20%;
  height: 5%;
  width: 80%;
  text-align: center;
  line-height: 20px;
  background-color: radial-linear(red,green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#023E8A, #00ffB6);
    overflow: hidden;
}
.box3 {
      position: fixed;
       margin-top:0%;
    margin-left: 5%;
  height: 50%;
  width: 40%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box4 {
    position: fixed;
        margin-top:0%;
    margin-left: 55%;
  height: 50%;
  width: 40%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box5 {
    position: fixed;
        margin-top:35%;
    margin-left: 5%;
  height: 30%;
  width: 25%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box6 {
         position: fixed;
        margin-top:35%;
    margin-left: 38%;
  height: 30%;
  width: 25%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box7 {

         position: fixed;
        margin-top:35%;
    margin-left: 70%;
  height: 30%;
  width: 25%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box8 {
        margin-top:60%;
    margin-left: 5%;
  height: 65%;
  width: 90%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box9 {
         margin-top:0%;
    margin-left: 5%;
  height: 50%;
  width: 90%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
.box10 {
         margin-top:0%;
    margin-left: 5%;
  height: 50%;
  width: 90%;
  text-align: center;
  line-height: 20px;
  background-color: radial-gradient(red, green);
  font-size: 17px;
  box-shadow: 20px 20px 160px 80px rgba(0,0,0,0.2);
    background:  radial-gradient(#025E8A, #88bbB6);
    overflow: auto;
}
::-webkit-scrollbar {
  width: 10px;               /* Chiều rộng vùng chứa scrollbar */
}
::-webkit-scrollbar-track {
  background:radial-gradient(#025E8A, #88bbB6);        /* Màu nền ngoài của thanh scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #ff8000;    /* Màu của thanh cuộn (scroll thumb) */
  border-radius: 5px;       /* Bo góc scroll thumb */
  border: 2px solid #ccc;  /* Không hỗ trợ padding, margin, transition nên dùng viền cùng màu nên để padding scroll thumb */
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ff8000; /* Hiệu ứng di chuột đổi màu*/
}
body { /*cho Firefox*/
    scrollbar-width: thin;          /* "auto" hoặc "thin" */
    scrollbar-color: radial-gradient(red, green);   /* scroll thumb and track */
}
/* xong phần scroll bar*/
/* ô tìm kiếm*/
.search-wrapper {
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top:5%;
    left:75%;
    z-index: 1;
}
.search-wrapper.active {}

.search-wrapper .input-holder {
    overflow: hidden;
    height: 40px;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    width:40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    border-radius: 40px;
    width:40px;
    background: rgba(34, 215, 228, 0.5);
    -webkit-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 40px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    -webkit-transform: translate(0, 60px);
    -moz-transform: translate(0, 60px);
    transform: translate(0, 60px);
    -webkit-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);

    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
    width:40px;
    height:40px;
    border:none;
    border-radius:6px;
    background: #FFF;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    -moz-transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);

}
.search-wrapper.active .input-holder .search-icon span {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: aqua;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid aqua;
}

.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -webkit-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -moz-transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-50px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -moz-transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FFF;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.search-wrapper .result-container {
    width: 100%;
    position: absolute;
    top:80px;
    left:0px;
    text-align: center;
    font-family: "Open Sans", Arial, Verdana;
    font-size: 14px;
    display:none;
    color:#B7B7B7;
}


@media screen and (max-width: 560px) {
    .search-wrapper.active .input-holder {width:200px;}
}
